.navigation {
  height: 64px;
  box-shadow: inset 0 -1px 0 0 #fff, 0 1px 5px rgba(0,0,0,.1);
}
.navigation .brand a {
  color: #222;
}
.navigation .brand .image {
  width: 24px;
  height: 24px;
}
.navigation .links .item {
  color: rgba(0,0,0,.6);
  font-weight: 500;
}
.navigation .links .item:hover,
.navigation .links .item.active {
  color: #222;
}