.navigation-container {
  height: 64px;
  box-shadow: inset 0 -1px 0 0 #fff, 0 1px 5px rgba(0,0,0,.1);
}
.navigation-container .brand a {
  color: #222;
}
.navigation-container .brand .image {
  width: 24px;
  height: 24px;
}
.navigation-container .links .item {
  color: rgba(0,0,0,.6);
  font-weight: 500;
}
.navigation-container .links .item:hover,
.navigation-container .links .item.active {
  color: #222;
}

.navigation-container .navbars {
  display: none;
}

@media (min-width: 600px) {
  .navigation-container .navbars {
    display: block;
  }
} 